<h1>Welcome to {{hotalName}}</h1> 
<!-- {{hotalName}} is interpolation -->

<div [hidden]="hideRooms">
  number of rooms:
  <div
   [ngStyle]="{'color': rooms.avalableRooms ? 'steelblue' : 'red'}"
   [innerText]="numberOfRooms">

  </div>
  <!-- [innerText]="numberOfRooms" is property binding -->
</div>

{{rooms?.avalableRooms ?? 'no rooms'}}

<!-- {{roomList | json }}  it is for debuging purpose only-->

<div *ngIf="rooms?.avalableRooms">
  <app-rooms-list [rooms]="roomList"></app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<!-- (click)="toggle()" is event binding -->